<%= simple_form_for([@subject, @task]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <h3>Events</h3>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class='events'>
      <%= f.simple_fields_for :events do |event| %>
        <%= render 'event_fields', f: event %>
      <% end %>
    </tbody>

  </table>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_association 'Add Event', f, :events, class: 'btn btn-primary', data: { association_insertion_node: '.events', association_insertion_method: :append } %>
  </div>
<% end %>